{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="{% static 'styles/books.css' %}">
</head>

<body>
    <div class="content">
        <p>Название: {{ book.title }}</p>
        <p>Подзаголовок: {{ book.subtitle }}</p>
        <p>Описание: {{ book.description }}</p>
        <p>Жанр: {{ book.genre }}</p>
        <p>Автор: {{ book.author }}</p>
        <p>Год выхода книги: {{ book.year }}</p>
        <p>Добавление книги на сайт: {{ book.date }}</p>
        <p>Цена: {{ book.price }}</p>
    </div>


</body>

</html>